<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System test</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div class="container my-2" >
    <h1 align="center">Employee Management System</h1>
    <h3 align="center">by devopski</h3>
    <a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary mb-3">Add employee</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>

            </tr>
        </thead>

        <tbody>
            <tr th:each="employee : ${listEmployees}">
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td style="text-align: center;vertical-align: middle; width: 200px;">
                    <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-warning">Update</a>
                    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
